table {
  width: 100%;
}

.table-header {
  background-color: #cccccc;
}

.mat-column-code {
  padding: 15px;
  font-size: 15px;
}

.mat-column-firstname {
  padding: 15px;
  font-size: 15px;
}

.mat-column-lastname {
  padding: 15px;
  font-size: 15px;
}

.mat-column-dob {
  padding: 15px;
  font-size: 15px;
}

.mat-column-action {
  padding: 15px;
  font-size: 15px;
}

.title-padding {
  padding: 20px;
}

.btn-style {
  height: 35px;
}
