<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <div class="row">
        <!-- <div class="col-1"></div> -->
        <div class="col-7">
          <h2 class="title-padding">Create New Student</h2>
        </div>
        <div class="col-5">
          <button mat-raised-button class="btn-style" routerLink="/" routerLinkActive="active">View All Students</button>
        </div>
      </div>
      <mat-card class="custome-width">
        <form [formGroup]="studentFormGroup">
          <div class="form-group">
            <div class="col form-field-font-size">
              <div class="row">
                <mat-form-field class="form-field-width" appearance="fill">
                  <mat-label>FirstName*</mat-label>
                  <input matInput name="firstname" formControlName="firstname">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="form-field-width" appearance="fill">
                  <mat-label>LastName*</mat-label>
                  <input matInput name="lastname" formControlName="lastname">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="form-field-width" appearance="fill">
                  <mat-label>DOB*</mat-label>
                  <input matInput name="dob" formControlName="dob">
                </mat-form-field>
              </div>
              <div class="row">
                <div class="col-1">
                  <button type="submit" mat-raised-button (click)="onSubmit()">Save</button>
                </div>
                <div class="col-2">
                  <button type="button" mat-raised-button (click)="Cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
